
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
/* Enter your styling here */

h1{
  text-align: center;
  color:white;
  text-shadow: 2px 2px gray;
}

.btn{
  border-radius: 10px;
  width: 75px;
  height: 75px;
  font-size: 50px;
  font-weight: 500;
  color:rgb(177, 177, 177);

  text-shadow: 2px 2px #000000;  text-align: center;
  background: #ffffff6c;
}

.btn:hover{
  background: rgb(219, 218, 218);
  cursor: pointer;
}

.btn:disabled{
  cursor:no-drop;
  color:black;
}

.row{
  display: flex;
}

.box{
  display: flex;
  flex-direction: column;
  margin: 35px;
  width: full;
  align-items: center;
}

.result-container{
  background: #ffffffbd;
  border: 1px solid black;
  font-size: 25px;
  max-width: 200px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color:white;
  text-shadow: 2px 2px #000000;
}

#reset{
  border: 2px solid black;
  text-align: center;
  transition: all .3s;
}

#reset:hover{
  /* cursor: pointer; */
  background: #000;
  color: #fff;
}